<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <CodeZee_Captcha>
            <settings>
                <enabled>0</enabled>
                <site_key>sitekey</site_key>
                <secret_key>secretkey</secret_key>
            </settings>
        </CodeZee_Captcha>
    </default>
</config>
