<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Contact\Controller\Index\Post">
		<plugin disabled="false" name="CodeZee_Captcha_Plugin_Contact_Controller_Index_Post"
                sortOrder="1" type="CodeZee\Captcha\Plugin\Contact\Controller\Index\Post"/>
	</type>
	<type name="Magento\Customer\Controller\Account\CreatePost">
		<plugin disabled="false" name="CodeZee_Captcha_Plugin_Customer_Controller_Account_CreatePost"
                sortOrder="1" type="CodeZee\Captcha\Plugin\Customer\Controller\Account\CreatePost"/>
	</type>
	<type name="Magento\Customer\Controller\Account\ForgotPasswordPost">
		<plugin disabled="false" name="CodeZee_Captcha_Plugin_Customer_Controller_Account_ForgotPasswordPost"
                sortOrder="1" type="CodeZee\Captcha\Plugin\Customer\Controller\Account\ForgotPasswordPost"/>
	</type>
	<type name="Magento\Customer\Controller\Account\LoginPost">
		<plugin disabled="false" name="CodeZee_Captcha_Plugin_Customer_Controller_Account_LoginPost"
				sortOrder="1" type="CodeZee\Captcha\Plugin\Customer\Controller\Account\LoginPost"/>
	</type>
</config>
